<div class="form">
	<form>
		<div class="name_container">
			<h3>Home page</h3>
		</div>

		<div class="container">
			<label><b>Hello, {{currentUser.name}}, it's nice to see you!</b></label>
			<p>Your key is: {{currentUser.company_key}}</p>

		</div>
		<div *ngIf="currentUser.company_key">
			Chat:
			<hr>
			<div style="max-height: 300px; overflow-y:scroll">
				<p *ngFor="let message of messages" class="chat">{{message}}</p>

			</div>
			<hr>
			<p>Users online: {{usersOnline}}</p>
		</div>
		<textarea
			id="message"
			name="message"
			style="margin-top: 20px"
			required
			*ngIf="currentUser.company_key !== null"
			[(ngModel)]="message"
			class="control"
			rows="5">
    	</textarea>
		<button
			*ngIf="currentUser.company_key"
			class="control"
			(click)="sendMessage(message)">
			Add message
		</button>

		<div class="my-google-map" *ngIf="currentUser.company_key">
			<google-map>
			</google-map>
		</div>
		<button
			class="control"
			*ngIf="currentUser.role === 'DRIVER' && currentUser.company_key"
			(click)="driverCron()">
			Start sending coordinates
		</button>
		<button
			class="control"
			*ngIf="currentUser.role === 'DRIVER' && currentUser.company_key"
			(click)="stopDriverCron()">
			Stop sending coordinates
		</button>

		<h2 *ngIf="!currentUser.company_key">Ask your company to set you a key before you can start working</h2>
	</form>
</div>


