<div class="form">
	<form>
		<div class="name_container">
			<h3>PickMe! Registration</h3>
		</div>

		<div class="container">
			<label for="email" ><b>Email</b></label>
			<input type="text" [(ngModel)]="email" placeholder="Enter Email" name="email" required>

			<label for="password" ><b>Password</b></label>
			<input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required>

			<label for="userName" ><b>Name</b></label>
			<input type="text" [(ngModel)]="userName" placeholder="Enter Password" name="password" required>

			<button (click)="registration(email, password, userName)">>Done!</button>

			<label>
			<span style="white-space: pre-line">
				{{registrationRes}}
			</span>
			</label>

		</div>
	</form>

</div>
