<div class="form">
	<form>
		<div class="imgcontainer">
			<h3>PickMe! Login</h3>
		</div>

		<div class="container">
			<label for="email"><b>Email</b></label>
			<input type="text" [(ngModel)]="email" placeholder="Enter Email" name="email" required>

			<label for="password" ><b>Password</b></label>
			<input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required>

			<button (click)="login(email, password)">>Login</button>

			<label>
			<span>
				{{response}}
			</span>
			</label>
		</div>
	</form>

</div>
