<div class="form">
	<form>
		<div class="imgcontainer">
			<h3>AdminPanel</h3>
		</div>

		<div class="container">
			<div class="container">
				<h2>Add company</h2>
				<label><b>Company name</b></label>
				<input type="text" [(ngModel)]="companyName" placeholder="Enter company name" name="companyName"
					   required>
				<label><b>Company email</b></label>
				<input type="text" [(ngModel)]="companyEmail" placeholder="Enter company email" name="companyEmail"
					   required>
				<label><b>Representative email</b></label>
				<input type="text" [(ngModel)]="representativeEmail" placeholder="Enter Email"
					   name="representativeEmail"
					   required>
				<button (click)="addCompany(companyName, companyEmail, representativeEmail)">>Add!</button>


				<label>
			<span>
				{{addCompanyResponse}}
			</span>
				</label>
			</div>

			<div class="container">
				<h2>Get company</h2>
				<label><b>Company name</b></label>
				<input type="text" [(ngModel)]="getCompanyName" placeholder="Enter company name" name="getCompanyName"
					   required>
				<button (click)="getCompany(getCompanyName)">>Get!</button>

				<label>
			<span style="white-space: pre-line">
				{{getCompanyRes}}
			</span>
				</label>
			</div>

			<div class="container">
				<h2>Get all users</h2>
				<button (click)="getAllUsers()">>Get!</button>

				<label>
			<span style="white-space: pre-line">
				{{getUsersRes}}
			</span>
				</label>
			</div>

			<div class="container">
				<h2>Get user</h2>
				<label><b>User id</b></label>
				<input type="text" [(ngModel)]="getUserId" placeholder="Enter user id" name="getUserById" required>
				<button (click)="getUserById(getUserId)">>Get!</button>

				<label>
			<span style="white-space: pre-line">
				{{getUserRes}}
			</span>
				</label>
			</div>

			<div class="container">
				<h2>Update role</h2>
				<label><b>Email</b></label>
				<input type="text" [(ngModel)]="setRoleEmail" placeholder="Enter user email" name="userEmail" required>
				<label><b>New role</b></label>
				<input type="text" [(ngModel)]="setRoleRole" placeholder="Enter new role" name="getUserById" required>
				<button (click)="setRole(setRoleEmail, setRoleRole)">>Get!</button>

				<label>
			<span style="white-space: pre-line">
				{{setRoleRes}}
			</span>
				</label>
			</div>

		</div>
	</form>

</div>
