<div class="form">
	<form>
		<div class="imgcontainer">
			<h3>Manager Panel</h3>
		</div>
			<div class="container">
				<h2>Create key</h2>
				<label><b>Key</b></label>
				<input type="text" [(ngModel)]="key" placeholder="Enter key" name="key" required>
				<button (click)="createKey(key)">>Create!</button>

				<label>
			<span style="white-space: pre-line">
				{{createKeyRes}}
			</span>
				</label>
			</div>

			<div class="container">
				<h2>Give driver role</h2>
				<label><b>User email</b></label>
				<input type="text" [(ngModel)]="userEmail" placeholder="Enter user email" name="userEmail" required>
				<button (click)="giveDriverRole(userEmail)">>Give!</button>
				<label>
						<span style="white-space: pre-line">
							{{giveUserRoleRes}}
						</span>
				</label>
			</div>

	</form>

</div>
