<div class="form">
	<h1>Hello! Welcome to PickMe!</h1>
	<img src="../../../assets/img_avatar2.png" alt="">
	<p *ngIf="currentUser.name">Name: {{currentUser.name}}</p>
	<p *ngIf="currentUser.name">Email: {{currentUser.email}}</p>
	<p *ngIf="currentUser.name">Company key: {{currentUser.company_key}}</p>
	<div>
		<button *ngIf="!currentUser.name" (click)="loginRoute()">SignIn</button>
		<button *ngIf="!currentUser.name" (click)="registerRoute()">SignUp</button>
	</div>

	<div>
		<button *ngIf="currentUser.name" (click)="homeRoute()">Home</button>
	</div>

	<div>
		<button *ngIf="currentUser.role == 'ADMIN'" (click)="adminRoute()">Admin panel</button>
		<button *ngIf="currentUser.role == 'ADMIN' || currentUser.role == 'MANAGER'" (click)="managerRoute()">Manager
			panel
		</button>
	</div>
</div>
