form {
	border: 3px solid #f1f1f1;
	max-width: 40%;
	display: inline-block;
}

div.form
{
	border: 3px solid #f1f1f1;
	margin-left: 30%;
	max-width: 40%;
	display: block;
	text-align: center;
}

button {
	background-color: #04AA6D;
	color: white;
	max-width: 20%;
	border: none;
	padding: 7px 10px;
	margin: 8px 8px;
	cursor: pointer;
	width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}
